/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #2DE397; }
.My-Color-Theme-2-hex { color: #54A885; }
.My-Color-Theme-3-hex { color: #1E9764; }
.My-Color-Theme-4-hex { color: #71E3B4; }
.My-Color-Theme-5-hex { color: #146342; }

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(45, 226, 151, 1); }
.My-Color-Theme-2-rgba { color: rgba(84, 168, 133, 1); }
.My-Color-Theme-3-rgba { color: rgba(29, 151, 100, 1); }
.My-Color-Theme-4-rgba { color: rgba(112, 226, 179, 1); }
.My-Color-Theme-5-rgba { color: rgba(20, 98, 66, 1); }

/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla { color: hsla(154, 76, 53, 1); }
.My-Color-Theme-2-hsla { color: hsla(155, 33, 49, 1); }
.My-Color-Theme-3-hsla { color: hsla(154, 66, 35, 1); }
.My-Color-Theme-4-hsla { color: hsla(155, 67, 66, 1); }
.My-Color-Theme-5-hsla { color: hsla(154, 66, 23, 1); }



/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #4667FA; }
.My-Color-Theme-2-hex { color: #4EA8D9; }
.My-Color-Theme-3-hex { color: #62F0DF; }
.My-Color-Theme-4-hex { color: #4ED983; }
.My-Color-Theme-5-hex { color: #70FC5B; }

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(70, 103, 250, 1); }
.My-Color-Theme-2-rgba { color: rgba(78, 168, 217, 1); }
.My-Color-Theme-3-rgba { color: rgba(98, 240, 223, 1); }
.My-Color-Theme-4-rgba { color: rgba(78, 217, 131, 1); }
.My-Color-Theme-5-rgba { color: rgba(112, 252, 91, 1); }

/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla { color: hsla(229, 94, 62, 1); }
.My-Color-Theme-2-hsla { color: hsla(201, 64, 57, 1); }
.My-Color-Theme-3-hsla { color: hsla(172, 82, 66, 1); }
.My-Color-Theme-4-hsla { color: hsla(142, 64, 57, 1); }
.My-Color-Theme-5-hsla { color: hsla(112, 96, 67, 1); }



/* Color Theme Swatches in Hex */
.Different-colorful-shapes-wooden-puzzle-blocks-on-yellow-background.-Geometric-shapes-in-different-colors,-top-view-1-hex { color: #07B0F2; }
.Different-colorful-shapes-wooden-puzzle-blocks-on-yellow-background.-Geometric-shapes-in-different-colors,-top-view-2-hex { color: #1FBF64; }
.Different-colorful-shapes-wooden-puzzle-blocks-on-yellow-background.-Geometric-shapes-in-different-colors,-top-view-3-hex { color: #F2CB05; }
.Different-colorful-shapes-wooden-puzzle-blocks-on-yellow-background.-Geometric-shapes-in-different-colors,-top-view-4-hex { color: #F25C05; }
.Different-colorful-shapes-wooden-puzzle-blocks-on-yellow-background.-Geometric-shapes-in-different-colors,-top-view-5-hex { color: #F20505; }

/* Color Theme Swatches in RGBA */
.Different-colorful-shapes-wooden-puzzle-blocks-on-yellow-background.-Geometric-shapes-in-different-colors,-top-view-1-rgba { color: rgba(7, 175, 242, 1); }
.Different-colorful-shapes-wooden-puzzle-blocks-on-yellow-background.-Geometric-shapes-in-different-colors,-top-view-2-rgba { color: rgba(30, 191, 100, 1); }
.Different-colorful-shapes-wooden-puzzle-blocks-on-yellow-background.-Geometric-shapes-in-different-colors,-top-view-3-rgba { color: rgba(242, 202, 4, 1); }
.Different-colorful-shapes-wooden-puzzle-blocks-on-yellow-background.-Geometric-shapes-in-different-colors,-top-view-4-rgba { color: rgba(242, 91, 4, 1); }
.Different-colorful-shapes-wooden-puzzle-blocks-on-yellow-background.-Geometric-shapes-in-different-colors,-top-view-5-rgba { color: rgba(242, 4, 4, 1); }

/* Color Theme Swatches in HSLA */
.Different-colorful-shapes-wooden-puzzle-blocks-on-yellow-background.-Geometric-shapes-in-different-colors,-top-view-1-hsla { color: hsla(196, 94, 48, 1); }
.Different-colorful-shapes-wooden-puzzle-blocks-on-yellow-background.-Geometric-shapes-in-different-colors,-top-view-2-hsla { color: hsla(146, 72, 43, 1); }
.Different-colorful-shapes-wooden-puzzle-blocks-on-yellow-background.-Geometric-shapes-in-different-colors,-top-view-3-hsla { color: hsla(50, 96, 48, 1); }
.Different-colorful-shapes-wooden-puzzle-blocks-on-yellow-background.-Geometric-shapes-in-different-colors,-top-view-4-hsla { color: hsla(22, 96, 48, 1); }
.Different-colorful-shapes-wooden-puzzle-blocks-on-yellow-background.-Geometric-shapes-in-different-colors,-top-view-5-hsla { color: hsla(0, 96, 48, 1); }



/* Color Theme Swatches in Hex */
.Jumble-of-rainbow-colored-balloons-celebrating-gay-pride-in-a-textured-background-1-hex { color: #0ABF04; }
.Jumble-of-rainbow-colored-balloons-celebrating-gay-pride-in-a-textured-background-2-hex { color: #F2CB05; }
.Jumble-of-rainbow-colored-balloons-celebrating-gay-pride-in-a-textured-background-3-hex { color: #F28705; }
.Jumble-of-rainbow-colored-balloons-celebrating-gay-pride-in-a-textured-background-4-hex { color: #F25C05; }
.Jumble-of-rainbow-colored-balloons-celebrating-gay-pride-in-a-textured-background-5-hex { color: #D90404; }

/* Color Theme Swatches in RGBA */
.Jumble-of-rainbow-colored-balloons-celebrating-gay-pride-in-a-textured-background-1-rgba { color: rgba(10, 191, 3, 1); }
.Jumble-of-rainbow-colored-balloons-celebrating-gay-pride-in-a-textured-background-2-rgba { color: rgba(242, 202, 4, 1); }
.Jumble-of-rainbow-colored-balloons-celebrating-gay-pride-in-a-textured-background-3-rgba { color: rgba(242, 135, 4, 1); }
.Jumble-of-rainbow-colored-balloons-celebrating-gay-pride-in-a-textured-background-4-rgba { color: rgba(242, 91, 4, 1); }
.Jumble-of-rainbow-colored-balloons-celebrating-gay-pride-in-a-textured-background-5-rgba { color: rgba(216, 4, 4, 1); }

/* Color Theme Swatches in HSLA */
.Jumble-of-rainbow-colored-balloons-celebrating-gay-pride-in-a-textured-background-1-hsla { color: hsla(118, 96, 38, 1); }
.Jumble-of-rainbow-colored-balloons-celebrating-gay-pride-in-a-textured-background-2-hsla { color: hsla(50, 96, 48, 1); }
.Jumble-of-rainbow-colored-balloons-celebrating-gay-pride-in-a-textured-background-3-hsla { color: hsla(33, 96, 48, 1); }
.Jumble-of-rainbow-colored-balloons-celebrating-gay-pride-in-a-textured-background-4-hsla { color: hsla(22, 96, 48, 1); }
.Jumble-of-rainbow-colored-balloons-celebrating-gay-pride-in-a-textured-background-5-hsla { color: hsla(0, 96, 43, 1); }


/* Color Theme Swatches in Hex */
.EOLIEN-1-hex { color: #3B8DBF; }
.EOLIEN-2-hex { color: #8FBDD9; }
.EOLIEN-3-hex { color: #195907; }
.EOLIEN-4-hex { color: #80BF6F; }
.EOLIEN-5-hex { color: #58A633; }

/* Color Theme Swatches in RGBA */
.EOLIEN-1-rgba { color: rgba(59, 140, 191, 1); }
.EOLIEN-2-rgba { color: rgba(143, 188, 216, 1); }
.EOLIEN-3-rgba { color: rgba(24, 89, 7, 1); }
.EOLIEN-4-rgba { color: rgba(128, 191, 110, 1); }
.EOLIEN-5-rgba { color: rgba(87, 165, 51, 1); }

/* Color Theme Swatches in HSLA */
.EOLIEN-1-hsla { color: hsla(202, 52, 49, 1); }
.EOLIEN-2-hsla { color: hsla(202, 49, 70, 1); }
.EOLIEN-3-hsla { color: hsla(106, 85, 18, 1); }
.EOLIEN-4-hsla { color: hsla(106, 38, 59, 1); }
.EOLIEN-5-hsla { color: hsla(101, 52, 42, 1); }
